<?xml version="1.0" encoding="utf-8"?>
<html>

<body>

<style type="text/css">
    html {
        color: #0156f3;
        background-color: hsl(200, 50%, 20%);
        color: hsl(200, 20%, 90%);
    }
</style>
<head>
    <title>מקריא טקסטים </title>
</head>

    <h1>מקריא טקסטים</h1>
        <!-- C:\Eyal\School_Cyber_project\code\fins\html_client\m.jpg -->
    <img src="/static/m.jpg" alt="tuki" width="350" height="200" />
    <form action="/vois"  method="post" enctype="multipart  /form-data">

        <!-- <label>שפה: </label>
            <select name="gender" id="gender">
                <option value="en">name</option>
                <label>Enter text:</label> -->
        <label for="T">(.doc,.docx,.txt,.pdf) בתביעה את טקסט או בחר קובץ מסוגיעים הבאים </label><br><br>
        <input name="upload" type="file" id="text" accept=".doc,.docx,.txt,.pdf"><br><br>
        <textarea id="T" name="text" method="post" cols="100" rows="15"></textarea>
        <!--תביעה לרשם  -->
        <p>
            <p><input type="submit" value="הקראה" /></p>
            <input type="button" name="reset" id="reset all" value="איפוס">
        </p>
    </form>
</body>

</html>