<style type="text/css">
    html {
        color: #0156f3;
        background-color: hsl(200, 50%, 20%);
        color: hsl(200, 20%, 90%);

    }
</style>

<a href="say.wav"><img src="download.png" width="60" height="50" title="download" alt="download"></a>

<input type="range" list="tickmarks">
<datalist id="tickmarks">
    <option value="0"></option>
    <option value="10"></option>
    <option value="20"></option>
    <option value="30"></option>
    <option value="40"></option>
    <option value="50"></option>
    <option value="60"></option>
    <option value="70"></option>
    <option value="80"></option>
    <option value="90"></option>
    <option value="100"></option>
</datalist>
<a type="button" href="index.html"><input type='button' value="חזרה  "></a>
<audio controls>
    <source src="say.wav" type="audio/wav">
</audio>
<p>{{data}}</p>


